.full-height {
  height: calc(100vh - 98px);
}

.full-height .MuiContainer-root {
  padding: 0 27px;
}

.full-height .title-home {
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  justify-self: center;

  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
}

.full-height .MuiTypography-h5 {

}

.full-height .subtitle {
  margin-left: auto;
  margin-right: auto;
}

.full-height .descricao {
  min-height: 100px;
  margin: 12px;
  font-size: 12px;
  justify-self: auto;
} 

.full-height .actions {
  padding-bottom: 15px;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  justify-content: space-between;
}

.full-height .actions .MuiButton-contained {
  width: calc(100vw - 200px);
  font-weight: 700;
}

.full-height .actions .MuiFab-label {
  margin-left: 5px;
}

.full-height .main-image {
  position: relative;
  width: 100%;
  bottom: 0;
}

button,
.seta
 {
  position: relative;
  z-index: 1;
}


.loading {
  display: flex;
  justify-content: center;
  margin: 30px 0 10px;
}